.h5p-reaction-game:empty, .h5p-reaction-game {
  font-family: "Raleway", serif;
  overflow: hidden;
  background: #1394c7;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  display: table;
  height: 90vh;
  width: 100%;
  text-transform: capitalize;
}

/* Intro page */
.h5p-intro-page {
  height: 100%;
  min-height: 90vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  /* position: absolute; */
  z-index: 1;
  top: 0;
  left: 0;
  background: #1394c7;
}
.h5p-intro-page-inner {
  position: relative;
  height: 50vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.h5p-intro-page > .h5p-intro-page-title {
  font-weight: bold;
  line-height: 1.1;
  /* font-size: 0.9; */
  margin-bottom: 0.8em;
}
.h5p-intro-page > .h5p-intro-page-title > span {
  display: inline-block;
  max-width: 80%;
}
.h5p-joubelui-button.mq-control-button {
  padding: 0.2em 2em;
  background: #0072bb;
  border: none; /* Reset borders */
  border-bottom: 0.2em solid #014876;
  transition: background-color 1s;
}
.h5p-joubelui-button:hover {
  background-color: #005f9b;
}

.h5p-counting-down{
  margin: 4em;
  color: white;
  -webkit-transition: height 3s ease-in-out;
  -moz-transition: height 3s ease-in-out;
  -ms-transition: height 3s ease-in-out;
  transition: height 3s ease-in-out;
}

.h5p-game-started, .h5p-game {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: #1394c7;
}

.question, .message{
  margin: 0.5rem 0rem;
}

/* Hide statusbar on resultpage */
